# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
env/

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Archivos temporales
*.log

# Documentacion local
memoria_chatbot.pdf
